.apresentacao-home {
  padding-top: 120px;
  padding-bottom: 120px;
}

.apresentacao-home h2 {
  text-align: center;
}

.apresentacao-titulo-destaque {
  display: flex;
  gap: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 12px;
}

@media (max-width: 700px) {
  .apresentacao-titulo-destaque img {
    display: none;
  }
}

.apresentacao-titulo-destaque span {
  display: inline-block;
  background: var(--cor-p4);
  padding: 8px 28px;
  border-radius: 20px;
}

@media (max-width: 560px) {
  .apresentacao-titulo-destaque span {
    padding: 8px 12px;
  }
}
